mailing_service/schemas/system_error.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Contract section 2.6: global system_error format.
  Used for OUTBOUND error reports from the mailing service to the
  team-specific error queue (mailing.errors).
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id" type="xs:string"/>
              <xs:element name="timestamp" type="xs:dateTime"/>
              <xs:element name="source">
                <xs:simpleType><xs:restriction base="xs:string">
                  <xs:enumeration value="mailing"/>
                </xs:restriction></xs:simpleType>
              </xs:element>
              <xs:element name="type">
                <xs:simpleType><xs:restriction base="xs:string">
                  <xs:enumeration value="system_error"/>
                </xs:restriction></xs:simpleType>
              </xs:element>
              <xs:element name="version">
                <xs:simpleType><xs:restriction base="xs:string">
                  <xs:enumeration value="2.0"/>
                </xs:restriction></xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="error_code" type="xs:string"/>
              <xs:choice>
                <xs:element name="error_description" type="xs:string"/>
                <xs:element name="message" type="xs:string"/>
              </xs:choice>
              <xs:element name="component" type="xs:string" minOccurs="0"/>
              <!-- related_message_id: the message_id of whatever inbound
                   message caused this error, when extractable. Optional. -->
              <xs:element name="related_message_id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
