mailing_service/schemas/system_alert.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Contract section 4: Monitoring → Mailing alert (flat <alert> root).
  Sanctioned exception to Rule 1: this internal Monitoring↔Mailing message
  uses a flat root instead of the standard <message> envelope. Queue: to_mailing.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="alert">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="type">
          <xs:simpleType><xs:restriction base="xs:string">
            <xs:enumeration value="HEARTBEAT_CRITICAL"/>
          </xs:restriction></xs:simpleType>
        </xs:element>
        <xs:element name="system"    type="xs:string"/>
        <xs:element name="message"   type="xs:string"/>
        <xs:element name="timestamp" type="xs:dateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
